BODY { 
      font-family:Verdana; 
      background-color:#ffffff;  }
H1 { 
    font-weight:bold; 
    border-bottom-style:Solid; 
    border-bottom-width:1.5px; 
    font-family:Verdana, sans-serif; 
    margin-bottom:18.5pt; 
    font-size:15pt; 
    color:#921c20;  }
LI.kadov-H1 { 
             font-weight:bold; 
             font-family:Verdana, sans-serif; 
             font-size:15pt; 
             color:#921c20;  }
H2 { 
    font-family:Verdana, sans-serif; 
    font-size:13pt; 
    font-style:italic; 
    font-weight:bold; 
    color:#921c20;  }
LI.kadov-H2 { 
             font-family:Verdana, sans-serif; 
             font-size:13pt; 
             font-style:italic; 
             font-weight:normal; 
             color:#921c20;  }
H3 { 
    font-weight:bold; 
    font-family:Verdana, sans-serif; 
    font-size:11pt; 
    color:#921c20;  }
LI.kadov-H3 { 
             font-weight:bold; 
             font-family:Verdana, sans-serif; 
             font-size:11pt; 
             color:#921c20;  }
H4 { 
    font-weight:bold; 
    font-size:10pt; 
    margin-bottom:9.5pt; 
    color:#921c20; 
    font-family:Verdana;  }
LI.kadov-H4 { 
             font-weight:bold; 
             font-size:10pt; 
             color:#921c20;  }
P { 
   margin-top:1pt; 
   margin-bottom:6pt; 
   font-family:Verdana, sans-serif; 
   font-size:10pt;  }
LI.kadov-P { 
            font-family:Verdana, sans-serif; 
            font-size:10pt;  }
A.expandspot { 
              color:#008000; 
              cursor:hand; 
              font-style:italic; 
              x-text-underline:off; 
              x-text-overline:off; 
              x-text-line-through:off; 
              text-decoration:none none none;  }
SPAN.expandtext { 
                 font-style:italic; 
                 font-weight:normal; 
                 color:#ff0000;  }
A.dropspot { 
            cursor:hand; 
            color:#008000; 
            font-style:italic; 
            x-text-underline:off; 
            x-text-overline:off; 
            x-text-line-through:off; 
            text-decoration:none none none;  }
A.glossterm { 
             color:#800000; 
             cursor:hand; 
             font-style:italic; 
             x-text-underline:off; 
             x-text-overline:off; 
             x-text-line-through:off; 
             text-decoration:none none none;  }
SPAN.glosstext { 
                font-style:italic; 
                font-weight:normal; 
                color:#0000ff;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px; 
    font-family:Verdana;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px; 
    font-family:Verdana;  }
P.SeeAlso { 
           font-weight:bold; 
           font-style:normal; 
           x-text-underline:Off; 
           color:#4c0202; 
           font-size:11pt; 
           margin-top:12pt; 
           x-next-type:P; 
           text-decoration:none;  }
LI.kadov-P-CSeeAlso { 
                     font-weight:bold; 
                     font-style:normal; 
                     x-text-underline:Off; 
                     color:#4c0202; 
                     font-size:11pt; 
                     text-decoration:none;  }
P.Tip { 
       font-style:italic; 
       font-weight:normal; 
       text-indent:0; 
       margin-left:36pt; 
       margin-bottom:9pt; 
       margin-top:10.5pt;  }
LI.kadov-P-CTip { 
                 font-style:italic; 
                 font-weight:normal; 
                 text-indent:0;  }
P.Warning { 
           text-indent:0; 
           margin-left:1pt; 
           margin-top:12pt; 
           margin-bottom:10.5pt; 
           font-weight:bold; 
           font-style:italic;  }
LI.kadov-P-CWarning { 
                     text-indent:0; 
                     font-weight:bold; 
                     font-style:italic;  }
P.Code { 
        font-family:"Courier New"  , monospace; 
        margin-left:10pt; 
        background-color:#c0c0c0;  }
LI.kadov-P-CCode { 
                  font-family:"Courier New"  , monospace;  }
H5 { 
    color:#921c20; 
    font-family:Verdana; 
    font-weight:bold;  }
LI.kadov-H5 { 
             color:#921c20;  }
SPAN.Courier { 
              font-family:"Courier New"  , monospace; 
              font-size:10pt;  }
P.CodeNoGrey { 
              font-family:"Courier New"  , monospace; 
              margin-left:10pt;  }
LI.kadov-P-CCodeNoGrey { 
                        font-family:"Courier New"  , monospace;  }
P.LinksBar { 
            x-next-type:P; 
            font-size:10pt; 
            font-weight:bold; 
            font-style:normal; 
            margin-top:1pt; 
            margin-bottom:12pt;  }
LI.kadov-P-CLinksBar { 
                      font-size:10pt; 
                      font-weight:bold; 
                      font-style:normal;  }
ol ol { 
       margin-top:1px;  }
ol ul { 
       margin-top:1px;  }
ul ul { 
       margin-top:1px;  }
ul ol { 
       margin-top:1px;  }
